# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eg gs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Operating system files
.DS_Store

# Editors and IDEs
.idea/
.vscode/
